{% extends 'pethaven/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block main-content %}
    <br><br>
    <img src="{% static 'pethaven\images\pethaven.png' %}" width="250" height="250" style="display: block; margin: 0 auto;">

    <div class="container mt-3">
        <br><br>
        <h2 style="text-align: center;">About Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">PetHaven is your ultimate destination for finding a loving companion and giving adorable pets a forever home. Our platform connects animal lovers with a wide variety of pets, from playful puppies and cuddly kittens to birds, rabbits, and other furry friends, all waiting to be adopted into caring families. 

                At PetHaven, we believe every animal deserves a chance to live in a safe, nurturing environment. That’s why we collaborate with trusted shelters, rescue organizations, and responsible breeders to ensure all our pets are healthy, happy, and ready for their next adventure. 
                
                Our easy-to-navigate website allows you to browse detailed pet profiles, including photos, descriptions, and adoption fees, making it simple to find a perfect match for your home and lifestyle. Whether you’re a first-time pet parent or a seasoned animal lover, PetHaven is here to support you every step of the way, from choosing your pet to welcoming them into your family.  
                
                Join the PetHaven community today and make a life-changing difference for both you and your new furry friend!</p>
        </div>

        <br><br><br>
        <h2 style="text-align: center;">Our Mission</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center" style="text-align: left;">At PetHaven, our mission is to create a world where every pet finds a loving home and every individual experiences the unconditional joy and companionship that pets bring. We are dedicated to bridging the gap between pets in need and caring families, fostering a community built on compassion, responsibility, and mutual love.

                Through partnerships with shelters, rescue organizations, and ethical breeders, we aim to promote pet adoption as the first choice while ensuring the health and well-being of every animal. By providing an accessible and transparent platform, we empower people to make informed and heartfelt decisions to enrich their lives and the lives of the pets they welcome into their homes.
                
                Together, we can create a future where no pet is left without a family and where the human-animal bond is celebrated and cherished.</p>
        </div>
    </div>
    <br><br><br>

{% endblock main-content %}