{% extends 'pethaven/base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}

{% block main-content %}

    <div class="container mt-3">
        <br>
        <h2 class="text-center">Contact Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-left">Address: House No. 23, Road No. 5, Block C, Chittagong Residential Area, Khulshi, Chattogram 4209, Bangladesh</p>
            <p class="fs-4 text-left">Phone: +8801638288796</p>
            <p class="fs-4 text-left">Email: pethaven@international.org</p>
            <p class="fs-4 text-left">Instagram: PetHaven</p>
            <p class="fs-4 text-left">Facebook: PetHaven</p>
        </div>
    </div>

{% endblock main-content %}